name: Start SQL

on:
  schedule:
    - cron: '35 00 * * *'  # 00:20 AM hora Buenos Aires (UTC+3)
  workflow_dispatch:

jobs:
  start-sql:
    runs-on: ubuntu-latest

    steps:
      - uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - uses: 'google-github-actions/setup-gcloud@v2'
        with:
          project_id: 'learned-maker-459200-v6'

      - name: Start SQL instance
        run: gcloud sql instances patch mi-instancia-sql --activation-policy=ALWAYS


